/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px; /* 默认字体大小 16px，1rem = 16px */
    font-family: 'Noto Serif JP','Microsoft YaHei' , 'Roboto';
    letter-spacing: 0.17rem; /* 字母之间的间距 */
    line-height:2rem;
  }
  
  /* 背景容器 */
  .background-container {
    position: relative;
    width: 100%;
    height: auto; /* 高度为视口的高度，适应屏幕 */
    background-size: cover; /* 保持图片比例，覆盖整个容器 */
    background-repeat: no-repeat; /* 防止图片重复 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white; 
    background-position: 50% -44px; /* 50% 表示水平居中，10% 表示垂直位置向上10%的位置 */
    background-image: url('');
  }


  /* 顶部导航栏 */
  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 2vh 8vw 1vh;
    position: fixed; /* 固定导航栏 */
    z-index: 9999; /* 确保导航栏处于页面所有其他内容的上层 */
    background-color: transparent; /* 初始状态下背景透明 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
  }

  .header.scrolled {
    background-color: white; /* 滚动时背景变为白色 */
  }
  
  .logo img {
    width: 4rem; /* logo 的宽度 */
    height: auto;
    text-align: center;
    padding-top: 1rem;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  
  .navbar ul li {
    margin-left: 5vw;
  }

/* 汉堡菜单按钮样式 */
.hamburger-menu {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 20px;
  top: 4vh;
  right: 6vw;
  z-index: 1000;
  position: absolute;
  border: none;
  background-color: transparent;
}

.hamburger-menu span {
  display: none; /* 默认不显示 */
  width: 100%;
  height:2px;
  background-color: rgb(31, 31, 31);
  border-radius: 2px;
  position: absolute;
  z-index: 1000; /* 确保按钮在最上层 */
}

.hamburger-menu span:nth-child(1) {
  top:0;
}

.hamburger-menu span:nth-child(2) {
  top:50%;
  transform: translateY(-50%);
}

.hamburger-menu span:nth-child(3) {
 bottom: 0;
}

/* 小屏幕菜单样式 */
.mobile-menu {
  display: none; /* 默认隐藏 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* 铺满整个屏幕 */
  background-color: rgba(0, 0, 0, 0.8); /* 半透明黑色背景 */
  z-index: 999; /* 确保菜单在内容上层 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu ul {
  list-style: none; /* 去掉列表符号 */
  padding: 0;
  margin: 0;
  text-align: center; /* 文字居中 */
}

.mobile-menu ul li {
  margin: 1.5rem 0; /* 菜单项之间的间距 */
}

.mobile-menu ul li a {
  color: white; /* 文字颜色 */
  text-decoration: none; /* 去掉下划线 */
  font-size: 1.2rem; /* 文字大小 */
  font-family: Noto Serif JP;
  font-weight: 500;

}

/* 小屏幕下显示汉堡按钮 */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block; /* 显示汉堡按钮 */
  }

  .hamburger-menu span {
    display: block; /* 显示汉堡按钮 */
  }

  .navbar ul {
  display: none;
  }
}

/* 点击汉堡按钮后显示菜单 */
.mobile-menu.active {
  display: flex; /* 显示菜单 */
}


  /* 导航栏链接样式 */
.navbar a {
    color: rgb(31, 31, 31); /* 初始文字颜色 */
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Robot0;
    text-decoration: none; /* 移除默认的下划线 */
    position: relative; /* 为了定位伪元素 */
    transition: color 0.3s ease; /* 平滑过渡文字颜色 */
  }

  /* 下拉菜单样式 */
.navbar .dropdown {
    position: relative; /* 使得子菜单可以相对于这个父元素定位 */
  }
  
  .navbar .dropdown-menu {
    display: none; /* 默认隐藏菜单 */
    position: absolute;
    top: 106%; /* 将菜单放置在父项的下方 */
    left: 0;
    /* background-color: white; */
    min-width: 150px; /* 可以根据需要调整菜单宽度 */
    width: auto;
    z-index: 1000;
    background-color:rgb(256, 256, 256);
  }
  
  .navbar .dropdown-menu li {
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0; /* 确保没有额外的 margin */
    white-space: nowrap; /* 禁止换行 */
  }

  /* 下拉菜单链接样式 */
.navbar .dropdown-menu li a {
    color: rgb(31, 31, 31); /* 初始文字颜色 */
    font-size: 1.2rem;
    text-decoration: none; /* 移除默认的下划线 */
    position: relative; /* 为了定位伪元素 */
    transition: color 0.3s ease; /* 平滑过渡文字颜色 */
  }

  /* 创建下划线的伪元素 */
.navbar a::after,
.navbar .dropdown-menu li a::after {
  content: ''; /* 创建伪元素 */
  position: absolute;
  bottom: -2px; /* 下划线离文字稍微有些距离 */
  left: 0;
  width: 0; /* 初始宽度为0 */
  height: 1px; /* 下划线的高度 */
  background-color:#383838; /* 下划线的颜色 */
  transition: width 0.3s ease; /* 平滑过渡下划线的宽度 */
}

/* 鼠标悬停时文字颜色变紫色 */
.navbar a:hover,
.navbar .dropdown-menu li a:hover {
  color:#383838; /* 鼠标悬停时文字变为紫色 */
}

/* 鼠标悬停时下划线从左到右扩展 */
.navbar a:hover::after,
.navbar .dropdown-menu li a:hover::after {
  width: 100%; /* 鼠标悬停时下划线的宽度扩展到100% */
}
  
  /* 鼠标悬停显示下拉菜单 */
  .navbar .dropdown:hover .dropdown-menu {
    display: block; /* 鼠标悬停时显示菜单 */
  }

  .navbar .dropdown-menu .menu-item-1 {
    font-family: 'Roboto'; /* 这里是第一个菜单项的字体 */
    font-weight: 400;
  }
  
  .navbar .dropdown-menu .menu-item-2 {
    font-family: 'Noto Serif JP'; /* 这里是第二个菜单项的字体 */
    font-weight: 500;
  }
  
  .navbar .dropdown-menu .menu-item-3 {
    font-family: 'Microsoft YaHei'; /* 这里是第三个菜单项的字体 */
    font-weight: 400;
  }
  
  .navbar .dropdown-menu .menu-item-4 {
    font-family: 'Noto Serif JP'; /* 这里是第四个菜单项的字体 */
    font-weight: 500;
  }
  
  .navbar .dropdown-menu .menu-item-5 {
    font-family: 'Noto Serif JP'; /* 这里是第五个菜单项的字体 */
    font-weight: 500;
  }
  
  .navbar .dropdown-menu .menu-item-6 {
    font-family: 'Roboto'; /* 这里是第六个菜单项的字体 */
    font-weight: 400;
  }

  .navbar .dropdown-menu li::before {
    content: '—'; /* 使用短横杠 */
    margin-right: 0.5rem; /* 设置横杠与文字之间的间距 */
    font-size: 1rem; /* 调整横杠的大小 */
    color: rgb(31, 31, 31); /* 设置横杠的颜色 */
  }
  
    /* 主体内容 */
    main {
        text-align: center;
        color: rgb(31, 31, 31);
        margin-top: 16vh;
    }
    
    /* 主容器样式 */
    .heroContainer {
        width: 100%; /* 占满整个屏幕宽度 */
        height: auto; /* 高度自适应 */
        display: flex;
        justify-content: space-between; /* 左右两部分平分屏幕 */
        align-items: center; /* 垂直居中 */
    }

    .heroContainer1{
        display: none;
    }
    
    /* 左半边内容样式 */
    .leftContent {
        width: 50%; /* 占屏幕宽度的一半 */
        display: flex;
        flex-direction: column;
        justify-content: center; /* 垂直居中 */
        align-items: center; /* 水平居中 */
        font-family: 'Roboto';
    }
    
    /* 第一行文字样式 */
    .firstLine {
        font-size: 2rem;
        margin-bottom: 2rem; /* 两行文字之间的间距 */
        font-weight: 500;
        letter-spacing: 0.3rem; /* 字母之间的间距 */
    }
    
    /* 第二行文字样式 */
    .secondLine {
        font-size: 1.6rem;
        font-weight: 400;
        width: 30vw;
        line-height: 3rem;
    }
    
    /* 右半边内容样式 */
    .rightContent {
        width: 50%; /* 占屏幕宽度的一半 */
        height: auto; /* 高度自适应 */
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
    }
    
    /* 主图片样式 */
    .mainImage {
        width: 100%; /* 图片宽度占满右半边容器 */
        height: auto; /* 高度自适应 */
    }

        /* 海洋部分容器 */
    .oceanSection {
        padding: 12vh 10vw; /* 上下6vh，左右7vw的内边距 */
        background-color: #C2D2FA; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
    }
    
    /* 文字块样式 */
    .oceanTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color: #1F1F1F;
    }
    
    /* 文字行样式 */
    .oceanFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
        color: #081C4C;
    }

    .oceanSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .oceanThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 50vw;
    }
    
    /* 图片块样式 */
    .oceanImageBlock {
        display: flex; /* 横向排列 */
        justify-content: space-between; /* 图片之间的间距自适应 */
        align-items: center; /* 垂直居中 */
    }
    
    /* 单张图片样式 */
    .oceanImage {
        width: 20vw; /* 图片宽度为20vw */
        height: auto; /* 高度自适应 */
        display: block; /* 防止图片底部出现间隙 */
    }

    /* 文字块样式 */
    .jadeTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color: #1F1F1F;
    }
    
    /* 文字行样式 */
    .jadeFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
        color: #ffffff;
    }

    .jadeSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
        color: #ffffff;
    }

    .jadeThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 36vw;
        color: #ffffff;
    }

        /* jade部分容器 */
    .jadeSection {
        display: flex; /* 左右布局 */
        align-items: flex-start; /* 顶部对齐 */
        background-color: #5C5A5A; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
        padding: 12vh 10vw 12vh 10vw;
        gap:3rem;
    }

    .jadeSection1{
        display: none;
    }
    
    .jadeImage{
        width: 35vw;
    }

     /* 漫画部分容器 */
     .mangaSection {
        padding: 12vh 10vw; /* 上下6vh，左右7vw的内边距 */
        background-color: #FAEBAF; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
    }
    
    /* 文字块样式 */
    .mangaTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color: #1F1F1F;
    }
    
    /* 文字行样式 */
    .mangaFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
        color: #C36E0B;
    }

    .mangaSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .mangaThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 50vw;
    }
    
    /* 图片块样式 */
    .mangaImageBlock {
        display: flex; /* 横向排列 */
        justify-content: space-between; /* 图片之间的间距自适应 */
        align-items: center; /* 垂直居中 */
    }
    
    /* 单张图片样式 */
    .mangaImage {
        width: 25vw; /* 图片宽度为20vw */
        height: auto; /* 高度自适应 */
        display: block; /* 防止图片底部出现间隙 */
    }

    /* 文字块样式 */
    .calendarTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color: #1F1F1F;
    }
    
    /* 文字行样式 */
    .calendarFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
        color: #744104;
    }

    .calendarSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
        color:rgb(31, 31, 31);
    }

    .calendarThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 36vw;
        color: rgb(31, 31, 31);
    }

        /* jade部分容器 */
    .calendarSection {
        display: flex; /* 左右布局 */
        align-items: center; /* 顶部对齐 */
        background-color: #F5BE7D; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
        padding: 0 10vw 0 4vw;
        gap:1rem;
    }

    .calendarSection1{
        display: none;
    }
    
    .calendarImage{
        width: 55vw;
        height: auto;
    }

    /* 文字块样式 */
    .yinTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color: #1F1F1F;
    }
    
    /* 文字行样式 */
    .yinFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .yinSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
        color:rgb(31, 31, 31);
    }

    .yinThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 35vw;
        color: rgb(31, 31, 31);
    }

        /* jade部分容器 */
    .yinSection {
        display: flex; /* 左右布局 */
        align-items: center; /* 顶部对齐 */
        background-color: #F5F5F5; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
        padding: 0 4vw 0 8vw;
    }
    
    .yinImage{
        width: 55vw;
        height: auto;
    }

     /* donghua 部分容器 */
     .animationSection {
        padding: 12vh 10vw; /* 上下6vh，左右7vw的内边距 */
        background-color: #CFEBFF; /* 背景颜色 */
        width: 100%; /* 占满父容器宽度 */
        box-sizing: border-box; /* 内边距包含在宽度内 */
    }
    
    /* 文字块样式 */
    .animationTextBlock {
        text-align: left; /* 文字左对齐 */
        margin-bottom: 6vh; /* 文字块与图片块之间的间距 */
        color:rgb(31, 31, 31);
    }
    
    /* 文字行样式 */
    .animationFirstLine{
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.6rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 600;
        margin-bottom: 1rem;
        color: #081C4C;
    }

    .animationSecondLine{
        font-family: 'Roboto'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .animationThirdLine {
        font-family: 'Noto Serif JP'; /* 字体 */
        font-size: 1.2rem; /* 字体大小 */
        margin: 0; /* 清除默认外边距 */
        font-weight: 400;
        width: 50vw;
    }

    /* .animationImageBlock {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%; 
    }
    
    .animationVideo {
        width: 50vw; 
        height: auto; 
        display: block; 
    } */

    .animationImageBlock {
      width: 60%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center; 
      align-items: center;
    }
    
    .animationVideo {
      width: 100%;
      aspect-ratio: 15.1 / 9; /* 让播放器保持 16:9 的宽高比 */
      display: block;
      border: none;
    }

    /* Other Project 部分 */
.other-project {
    text-align: center; /* 标题居中 */
  }
  
  .mobileOtherProject{
    display: none;
  }
  
  /* 大标题样式 */
  .main-title2 {
    font-size: 2rem;
    margin: 20vh 0 8vh 0;
    color:rgb(31, 31, 31); 
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
  }
  
  /* 图片容器 */
  .image-container {
    display: flex;
  }
  
  .otherimage {
    display: flex; /* 将图片容器设为 flex 布局 */
    justify-content: space-between; /* 图片之间保持一定的间距 */
    margin:0 10vw;
  }
  
  .otherimage2 {
    display: flex; /* 将图片容器设为 flex 布局 */
    justify-content: space-between; /* 图片之间保持一定的间距 */
    margin:0 10vw;
  }
  
  .otherimage3 {
    display: flex; /* 将图片容器设为 flex 布局 */
    justify-content: space-between; /* 图片之间保持一定的间距 */
  }
  
  .projectImage {
    display: flex; /* 将图片容器设为 flex 布局 */
    justify-content: space-between; /* 图片之间保持一定的间距 */
  }
  
  
  /* 图片盒子 */
  .image-box {
    position: relative; /* 为蒙版定位做准备 */
    width: 49%; /* 每个图片占容器的45% */
    margin: 0.5rem auto; /* 两个图片之间保持一定的间距 */
  }
  
  /* 图片样式 */
  .project-image {
    width: 100%; /* 图片宽度自适应 */
    height: auto;
    display: block; /* 去除图片底部空隙 */
  }
  
  /* 图片蒙版样式 */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 黑色半透明蒙版 */
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease; /* 蒙版淡入淡出效果 */
  }
  
  /* 图片悬浮时蒙版显示 */
  .image-box:hover .overlay {
    opacity: 1;
  }
  
  /* 标签文字样式 */
  .label1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #774CE8;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .label2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0087B3;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .label3 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #65A30D;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .label4 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F5B038;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .label5 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #B362FF;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 0 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
  }
  
  /* 蒙版中的大标题样式 */
  .overlay-title {
    font-size: 1.6rem;
    color: white;
    margin: 0 0 0 0;
    font-family:Roboto;
    font-weight: 500;
  }
  
  .overlay-title2{
    font-size: 1.6rem;
    color: white;
    margin: 0 0 0 0;
    font-family:Noto Serif JP ;
    font-weight: 600;
  }
  
  .overlay-title3{
    font-size: 1.6rem;
    color: white;
    margin: 0 0 0 0;
    font-family:Microsoft YaHei;
    font-weight: 500;
  }
  
  /* 蒙版中的段落文字样式 */
  .overlay-description {
    font-size: 1.2rem;
    color: white;
    margin:2rem 2rem;
    max-width:35rem ;
    font-weight: 400;
    font-family:Noto Serif JP ;
  }
  
  /* 蒙版中的段落文字样式 */
  .overlay-description2 {
    font-size: 1.2rem;
    color: white;
    margin:2rem 2rem;
    max-width:30rem ;
    font-family: Roboto;
  }
  
  .overlay-description3 {
    font-size: 1.2rem;
    color: white;
    margin:2rem 2rem;
    max-width:37rem ;
    font-weight: 400;
    font-family:Noto Serif JP ;
  }
  
  
   /* 按钮样式 */
   .overlay-btn1 {
    background-color: #774CE8;
    color: white;
    padding: 0.5rem 4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: Roboto;
  }

  .overlay-btn2 {
    background-color: #0087B3;
    color: white;
    padding: 0.5rem 4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: Roboto;
  }

  .overlay-btn3 {
    background-color: #65A30D;
    color: white;
    padding: 0.5rem 4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: Roboto;
  }

  .overlay-btn4 {
    background-color: #F5B038;
    color: white;
    padding: 0.5rem 4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: Roboto;
  }

  .overlay-btn5 {
    background-color: #B362FF;
    color: white;
    padding: 0.5rem 4rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: Roboto;
  }
  
  .overlay-btn1:hover {
    background-color: transparent; /* 背景变透明 */
    outline: 3px solid#FFF; /* 悬浮时添加边框 */
  }

  .overlay-btn2:hover {
    background-color: transparent; /* 背景变透明 */
    outline: 3px solid#FFF; /* 悬浮时添加边框 */
  }

  .overlay-btn3:hover {
    background-color: transparent; /* 背景变透明 */
    outline: 3px solid#FFF; /* 悬浮时添加边框 */
  }

  .overlay-btn4:hover {
    background-color: transparent; /* 背景变透明 */
    outline: 3px solid#FFF; /* 悬浮时添加边框 */
  }

  .overlay-btn5:hover {
    background-color: transparent; /* 背景变透明 */
    outline: 3px solid#FFF; /* 悬浮时添加边框 */
  }
  
  /* 底部样式 */
  .footer {
    background-color: rgb(31, 31, 31); /* 页脚背景颜色 */
    padding: 2rem 0; /* 内边距 */
    text-align: center; /* 居中对齐 */
    font-size: 1.2rem; /* 字体大小 */
    color: #fff; /* 文字颜色 */
    position: relative;
    width: 100%;
  }
  
  .footer p {
    margin: 0; /* 去掉默认的段落间距 */
  }
    
  @media (max-width: 768px) {
        html{
        line-height:1.4rem;
        }

        .header {
         padding: 3vh 6vw 1vh;
        }

        .logo img {
            width: 3rem; /* logo 的宽度 */
            height: auto;
            padding-top: 0;
        }
        
        .main{
            margin-top: 8vh;
        }

        .heroContainer{
            display: none;
        }

        .heroContainer1{
            display: block;
            flex-direction: column;
        }

        .rightContent{
            width: 100%;
            height: auto;
        }

        .firstLine{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .secondLine{
            font-size: 1rem;
            width: 60vw;
            line-height: 1.7rem;
            text-align: left;
        }

        .leftContent{
            width: 100%;
            align-items: flex-start;
            padding: 6vw;
        }

        .oceanSection{
            padding: 6vh 8vw;
        }

        .oceanTextBlock{
            margin-bottom: 2vh;
        }

        .oceanFirstLine{
            font-size: 1.2rem;
            font-weight: 600;
            width: 60vw;
        }

        .oceanSecondLine{
            font-size: 1rem;
        }

        .oceanThirdLine{
            font-size: 1rem;
            width: 80vw;
        }

        .oceanImageBlock{
            flex-direction: column;
        }

        .oceanImage{
            width: 70vw;
        }

        .jadeSection{
            display: none;
        }

        .jadeSection1{
            display: flex;
            flex-direction: column;
            align-items: center;
            display: flex; /* 左右布局 */
            background-color: #5C5A5A; /* 背景颜色 */
            width: 100%; /* 占满父容器宽度 */
            box-sizing: border-box; /* 内边距包含在宽度内 */
            gap:3rem;
        }

        .jadeImage{
            width: 90vw;
            margin-top: 6vh;
        }

        .jadeFirstLine{
            font-size: 1.2rem;
        }

        .jadeSecondLine{
            font-size: 1rem;
        }

        .jadeThirdLine{
            font-size: 1rem;
            width: 70vw;
        }

        .mangaSection{
            padding: 6vh 8vw;
        }

        .mangaTextBlock{
            margin-bottom: 2vh;
        }

        .mangaImageBlock{
            flex-direction: column;
            align-items: center;
        }

        .mangaImage{
            width: 80vw;
            margin-bottom: 2rem;
        }

        .calendarSection1 {
            display: flex; /* 左右布局 */
            flex-direction: column;
            align-items: center; 
            background-color: #F5BE7D; /* 背景颜色 */
            width: 100%; /* 占满父容器宽度 */
            box-sizing: border-box; /* 内边距包含在宽度内 */
            padding: 6vh 8vw 0 8vw;
            gap:1rem;
        }

        .calendarSection{
            display: none;
        }

        .calendarTextBlock{
            margin-bottom: 2vh;
        }

        .calendarFirstLine{
            font-size: 1.2rem;
            font-weight: 600;
            width: 60vw;
        }

        .calendarSecondLine{
            font-size: 1rem;
        }

        .calendarThirdLine{
            font-size: 1rem;
            width: 80vw;
        }

        .calendarImage{
            width: 90vw;
        }

        .yinSection {
            display: flex; /* 左右布局 */
            flex-direction: column;
            align-items: center; 
            background-color: #F5F5F5; /* 背景颜色 */
            width: 100%; /* 占满父容器宽度 */
            box-sizing: border-box; /* 内边距包含在宽度内 */
            padding: 6vh 8vw 0 8vw;
            gap:1rem;
        }

        .yiNSection{
            display: none;
        }

        .yinTextBlock{
            margin-bottom: 2vh;
        }

        .yinFirstLine{
            font-size: 1.2rem;
            font-weight: 600;
            width: 60vw;
        }

        .yinSecondLine{
            font-size: 1rem;
        }

        .yinThirdLine{
            font-size: 1rem;
            width: 80vw;
        }

        .yinImage{
            width: 90vw;
        }

        .animationSection{
            padding: 6vh 8vw;
        }

        .animationTextBlock{
            margin-bottom: 2vh;
        }

        .animationFirstLine{
            font-size: 1.2rem;
            font-weight: 600;
            width: 60vw;
        }   

        .animationSecondLine{
            font-size: 1rem;
        }

        .animationThirdLine{
            font-size: 1rem;
            width: 80vw;
        }

        .animationVideo{
            width: 80vw;
            margin-top: 2vh;
        }

        .other-project{
            display: none;
          }

                /* 大标题样式 */
        .main-title2 {
            font-size: 1.4rem;
            margin: 8vh 0 4vh 0;
            color:rgb(31, 31, 31); 
            text-align: center;
        }
        
          .mobileOtherProject{
            display: block;
          }
        
          .mobile-layout {
            display: flex; /* 使用 flex 布局 */
            flex-direction: column; /* 垂直排列 */
            align-items: center; /* 内容居中 */
            justify-content: center; /* 内容居中 */
            text-align: center; /* 文字居中 */
             /*background-color: #E7E2F4; 背景色 */
          }
        
          .mobile-layout img {
            width: 100%; /* 图片宽度占满容器 */
            height: auto; /* 高度自适应 */
          }
        
          .mobile-layout .button {
            display: inline-block;
            background-color: #ffff;
            text-decoration: none; 
            font-size: 0.8rem;
            transition: background-color 0.3s ease;
            font-family: 'Roboto'; 
            font-weight: 400;
            border-radius: 999rem; /* 圆角设置为两边圆弧 */
            text-align: center; /* 设置按钮内文字水平居中 */
            padding: 0.2rem 3rem; 
            width: auto;
            margin: 2vh auto; 
          }
        
          .mobile-layout .button:hover {
            background-color: transparent; /* 悬浮时背景色透明 */
            color: rgb(31, 31, 31); /* 保持文字颜色 */
            outline: 2px solid#FFF; /* 悬浮时添加边框 */
          }
        
          .bg-color-1 {
            background-color: #E7E2F4; /* 背景色 1 */
          }
          
          .bg-color-2 {
            background-color: #C3E1F6; /* 背景色 2 */
          }
        
          .bg-color-3 {
            background-color: #F8EDDB; /* 背景色 2 */
          }
        
          .bg-color-4 {
            background-color: #F5F5F5; /* 背景色 2 */
          }
        
          .bg-color-5 {
            background-color: #EFF9E1; /* 背景色 2 */
          }
        
          .footer{
            font-size: 0.7rem;
            padding: 0.8rem 0; /* 内边距 */
          }
       


    }